<% content_for(:title, "Welcome! | iTNT")%>

<h3>Totally Rad search by location bar here!</h3>
  <p>
    which will list all spots with location
  </p>
  <%= link_to "Browse the Spots", browse_path %>
  <%= link_to "List your Spot", new_spot_path(:user_id) %>
