<h1>is The New Timeshare</h1>

<h3>Totally Rad search by location bar here!</h3>
<p>
  which will list all spots with location
</p>
  <%= link_to "Browse the Spots", spots_path %>
  <%= link_to "List your Spot", new_spot_path(:user_id) %>
<p>
  add a spot form
  which will render user spot listings
</p>
